@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  position: relative;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.count{
  display: flex;
  border: 3px black solid;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  height: 70px;
  width: 200px;
  background-color: rgb(68, 58, 163);
  color: white
}

.forma{
  display: flex;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  height: 30px;
  
}

#col{
  background-color: rgb(17, 255, 255);
  border: 1px #000 solid;

}
.btn{
  background-color: rgb(13, 235, 68);
  border: 0;
}


.popup{
position: fixed;
width: 100%;
height: 100%;
background-color: #1b1a1a80;
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}

.popup-body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
}

.popup-content{
background-color: #eee;
color: #1b1a1a;
max-width: 800px;
padding: 30px;
position: relative;
transition: all 0.8s ease;
opacity: 1;
transform: translate(0px -100%);
border-radius: 13px;
}
.popup-text{
 font-size: 17px;
}

.popup-close{
position: absolute;
right: 10px;
top: 10px;
font-size: 20px;
cursor: pointer;
}

.calculator{    
  opacity: 0;
  transition: all 1.5s;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(131, 130, 130, 0.788);
  width: 400px;
  height: 650px;
  border: 4px solid rgb(78, 78, 78);
  border-radius: 20px;
}
.input{
  font-size: 30px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 300px;
  height: 50px;
  background-color: rgba(218, 214, 214, 0.63);
  border: 3px solid rgba(233, 97, 7, 0.767);
  border-radius: 15px;
}

.flex_number{
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 18px;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.num{
  color: aliceblue;
  border-radius: 15px;
  background-color: rgb(231, 80, 25);
  width: 60px;
  height: 60px;
}

.operand{
  color: aliceblue;
  border-radius: 15px;
  background-color: rgb(231, 80, 25);
  width: 60px;
  height: 60px;
}

.result_sum{    
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  background-color: rgb(193, 223, 224);
  border-radius: 15px;
  color: rgb(247, 9, 1);
  width: 60px;
  height: 60px;
}

